@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

#nd-sidebar p {
  font-weight: bold;
}

#nd-subnav a[data-active="true"] {
  font-weight: bold;
}

#nd-page {
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: -0.05rem;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: -0.05rem;
  }

  a {
    text-decoration-color: color-mix(in srgb, var(--color-fd-foreground) 30%, transparent);
    text-decoration-thickness: 1px;
  }
}

.shiki {
  border-radius: 6px;
  border: 0;

  code {
    font-size: 14px;
    font-family: var(--font-jetbrains-mono), monospace;
  }
}

.light {
  --color-fd-card: var(--color-neutral-50);
  --color-fd-background: var(--color-fd-background);

  #nd-sidebar {
    a[data-active="true"] {
      background-color: var(--color-neutral-200);
    }
  }

  #nd-sidebar-mobile,
  #nd-tocnav,
  #nd-subnav {
    background: var(--color-white);
  }
}

.dark {
  --color-fd-background: hsl(0, 0%, 7%);
}
